<div class="dsp_studio">
    <div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">

        <ul class="list-input settings-list">

            <!--  <div id="main-settings">

           <div class="main-settings-content">

          </div>

            </div>-->
            <div id="scenario-settings">
                <li class="field comp-setting-entry metadata_entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label" for="display_name">Название:</label>
                        <input class="input setting-input" name="display_name" id="display_name"
                               value="{{display_name}}" type="text"/>
                    </div>
                    <span class="tip setting-help">Название задание. Отображается заголовком вверху задания.</span>
                </li>
                <li class="field comp-setting-entry metadata_entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label" for="display_name">Лабораторная:</label>
                        <select class="select-lab" name="lab_scenario" selected="{{current_lab}}">
                            {% for lab in lab_list %}
                            <option {% if current_lab == lab.id %} selected="selected" {% endif %} value="{{lab.id}}">
                                {{lab.title}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="tip setting-help">Выбор сценария используемой лабораторной работы.</span>
                </li>
                <li class="field comp-setting-entry metadata_entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label" for="maximum_score">Максимальное количество баллов:</label>
                        <input class="input setting-input" name="maximum_score" id="maximum_score"
                               value="{{maximum_score}}" type="number" min="0" max="100"/>
                    </div>
                    <span class="tip setting-help">Определяет количество баллов за задание. Если значение не указано, задание будет оцениваться в десять баллов.</span>
                </li>

                <li class="field comp-setting-entry metadata_entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label" for="max_attempts">Максимальное количество попыток:</label>
                        <input class="input setting-input" name="max_attempts" id="max_attempts"
                               value="{{max_attempts}}" type="number" min="0"/>
                    </div>
                    <span class="tip setting-help">Определяет, сколько раз можно давать ответ на задание. Если значение не установлено, предоставляется неограниченное количество попыток.</span>
                </li>

                <li class="field comp-setting-entry metadata_entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label" for="metadata-option-entry_94">Показать кнопку сброса</label>
                        <select class="input setting-input" id="metadata-option-entry_94" name="show_reset_button">
                            {% if show_reset_button %}
                                <option value="true" selected="selected">Да</option>
                                <option value="false" >Нет</option>
                            {% else %}
                                <option value="true" >Да</option>
                                <option value="false"  selected="selected">Нет</option>
                            {% endif %}
                        </select>
                    </div>
                <span class="tip setting-help">Определяет, показывать ли кнопку «Сбросить», с помощью которой пользователь может сбросить свой ответ.</span>
                </li>

            </div>
            <div id="advanced-settings" hidden="true">

                <li class="field comp-setting-entry metadata_entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label" for="array_tolerance">Допуск проверки массивов:</label>
                        <input class="input setting-input" name="array_tolerance" id="array_tolerance"
                               value="{{array_tolerance|stringformat:'f'}}" type="number" min="0" max="100" step="0.01"/>
                    </div>
                    <span class="tip setting-help">Значение, определяющее погрешность для каждого элемента массива при проверке. Значение допуска по умолчанию = 0.01</span>
                </li>

                <li class="field comp-setting-entry metadata_entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label" for="number_tolerance">Допуск проверки числовых ответов:</label>
                        <input class="input setting-input" name="number_tolerance" id="number_tolerance"
                               value="{{number_tolerance|stringformat:'f'}}" type="number" min="0" max="100" step="0.01"/>
                    </div>
                    <span class="tip setting-help">Значение, определяющее погрешность числовых ответов при проверке. Значение допуска по умолчанию = 0.5</span>
                </li>

            </div>
        </ul>
        <div class="xblock-actions">
            <ul>
                <li class="action-item">
                    <a href="#" class="button action-primary save-button">Save</a>
                </li>
                <li class="action-item">
                    <a href="#" class="button cancel-button">Cancel</a>
                </li>
            </ul>
        </div>
    </div>
</div>