#calculate_graphic_1 {
    margin: 15px;
}

#calculate_graphic_2 {
    width: 100%;
}

#there-is-signal-count, #there-is-no-signal-count {
    text-align: center;
    display: none;
}

.get-graphic-2-button {
    margin: 5px 0px;
}

#graphic-2-controls{
    margin: 0 auto;
    text-align: center;
    width: 300px;
}

#graphic_2{
    height: 480px;
}

.graphic-3-container {
    text-align: center;
    border: 1px solid #00000024;
    flex: 50%;
    position: relative;
    height: inherit;
    background: white;
    margin: -1px;
}

.label-signal-count, .label-no-signal-count {
    width: 40px;
    text-align: center;
    white-space: nowrap;
}

.numeric-input-container-3 {
    padding: 4px 0px;
}

#input_student_s {
    min-height: 460px;
    margin: 0px 5px;
    width: 482px;
}

#input_student_s td{
    vertical-align: middle;
    text-align: center;
    padding: 4px;
    word-break: normal;
    border: 1px solid #00000024;
}