<div class="dsp_header">
    <h3 class="hd hd-3 problem-header">{{display_name}}</h3>
    <div class="dsp-problem-progress">
        {% if score == 0 or score %}
        <me-span class="weight"> Набрано баллов:
            <me-span class="points">{{score|floatformat:"0" }} из {{weight|floatformat:"0" }}</me-span>
        </me-span>
        {% else %}
        <me-span class="weight">(Максимальное кoличество баллов: {{weight|floatformat:"0" }})</me-span>
        {% endif %}
    </div>
</div>

<div class="dsp_block">
    <h3>1. Исследовать спектр гармонического колебания с частотой, кратной частоте дискретизации</h3>
    <div class="task-wording">
    <p></p>
    </div>
    <div style="display: flex;">
        <div id="graphic_1_1" class="graphic-container">
        </div>
        <div id="graphic_1_2" class="graphic-container">
        </div>
    </div>

    <div class="numeric-input-container">
        <label for="input_student_K_1">Введите долю частоты дискретизации:</label>
        <input id="input_student_K_1" class="numeric-input answer-input" type=number step=any/>
    </div>
    <div class="numeric-input-container">
        <label for="input_student_ns_0">Введите частоту пика спектральной плотности (1):</label>
        <input id="input_student_ns_0" class="numeric-input answer-input" type=number step=any/>
    </div>
    <div class="numeric-input-container">
        <label for="input_student_ns_1">Введите частоту пика спектральной плотности (2):</label>
        <input id="input_student_ns_1" class="numeric-input answer-input" type=number step=any/>
    </div>
</div>

<div class="dsp_block">
    <h3>2. Исследовать спектры гармонических колебаний с частотами, некратными частоте дискретизации</h3>
    <div class="task-wording">
    <p></p>
    </div>
    <div style="display: flex;">
        <div id="graphic_2_1" class="graphic-container">
        </div>
        <div id="graphic_2_2" class="graphic-container">
        </div>
    </div>

    <div class="numeric-input-container">
        <label for="input_student_K_2">Введите частоту колебания:</label>
        <input id="input_student_K_2" class="numeric-input answer-input" type=number step=any/>
    </div>
</div>

<div class="dsp_block">
    <h3>3. Исследовать спектры полигармонических колебаний</h3>
    <div class="task-wording">
    <p></p>
    </div>
    <div style="display: flex;">
        <div id="graphic_3_1" class="graphic-container">
        </div>
        <div id="graphic_3_2" class="graphic-container">
        </div>
    </div>

    <p>Введите колебаний (через запятую):</p>
    <div class="array-input-container">
        <textarea id="input_student_f" data-array-type="массив частот" data-max-length="100"
                  class="signal-input array-input answer-input"
                  style="height: 48px"
                  rows="4" cols="24"
                  wrap="hard"></textarea>
        <div class="validation-message"></div>
    </div>

</div>

<div class="dsp_footer action">
    <div class="submit-attempt-container">
        <button type="button" class="submit btn-brand" disabled="disabled" id="check_answer"><span class="submit-label">Проверить</span></button>
        <div class="submission-feedback">
            {% if max_attempts %}
            Использовано <span class="attempts">{{ attempts }}</span> из {{ max_attempts }} попыток
            {% endif %}
        </div>
    </div>
    <div class="problem-action-buttons-wrapper">
      <span class="problem-action-button-wrapper" id="save_answer">
          <button type="button" class="save problem-action-btn btn-default btn-small" data-value="Сохранить">
              <span class="icon fa fa-floppy-o" aria-hidden="true"></span>
              <span aria-hidden="true">Сохранить</span>
              <span class="sr">Save your answer</span>
          </button>
      </span>
        {% if show_reset_button %}
          <span class="problem-action-button-wrapper" id="reset_task">
              <button type="button" class="reset problem-action-btn btn-default btn-small" data-value="Сбросить"><span class="icon fa fa-refresh" aria-hidden="true"></span><span aria-hidden="true">Сбросить</span><span class="sr">Reset your answer</span></button>
          </span>
        {% endif %}
    </div>
</div>

<div class="dsp-notification">

</div>