
<div class="dsp_header">
    <h3 class="hd hd-3 problem-header">{{display_name}}</h3>
    <div class="dsp-problem-progress">
        {% if score == 0 or score %}
        <me-span class="weight"> Набрано баллов:
            <me-span class="points">{{score|floatformat:"0" }} из {{weight|floatformat:"0" }}</me-span>
        </me-span>
        {% else %}
        <me-span class="weight">(Максимальное кoличество баллов: {{weight|floatformat:"0" }})</me-span>
        {% endif %}
    </div>
</div>

<div class="dsp_block">
    <h3>Блок формирования сигналов</h3>
    <div class="task-wording">
    <p>Вам необходимо сформировать следующий сигнал: <span class="signal-filter-wording">{{signal_type_1.title}}</span></p>
    </div>
    <p>Введите сигнал:</p>
    <div class="array-input-container">
        <textarea id="input_student_s" data-array-type="сигнал" data-max-length="500"
                  class="signal-input array-input answer-input"
                  style="height: 100px"
                  rows="4" cols="24"
                  wrap="hard"></textarea>
        <div class="validation-message"></div>
    </div>

    <p>Введите сигнал после компрессии:</p>
    <div class="array-input-container">
        <textarea id="input_student_s1" data-array-type="сигнал" data-max-length="500"
                  class="signal-input array-input answer-input"
                  style="height: 100px"
                  rows="4" cols="24"
                  wrap="hard"></textarea>
        <div class="validation-message"></div>
    </div>
    <!--disabled="disabled"-->
    <button id="calculate_graphic_1" class="get-graphic-button">Построить графики</button>
</div>

<div class="dsp_block">
    <h3>Блок построения графиков</h3>
    <div style="display: flex;">
        <div id="graphic_1" class="graphic-container">
        </div>
        <div id="graphic_2" class="graphic-container">
        </div>
    </div>
</div>

<div class="dsp_block">
    <div class="numeric-input-container">
        <label for="input_student_fn">Ввод паразитной частоты:</label>
        <input id="input_student_fn" class="numeric-input answer-input" type=number step=any/>
    </div>
</div>

<div class="dsp_block">
    <!--<h3>Блок формирования сигналов</h3>-->
    <div class="task-wording">
    <p>Вам необходимо сформировать следующий сигнал: <span class="signal-filter-wording">{{signal_type_2.title}}</span></p>
    </div>
    <p>Введите сигнал:</p>
    <div class="array-input-container">
        <textarea id="input_student_sl" data-array-type="сигнал" data-max-length="1100"
                  class="signal-input array-input answer-input"
                  style="height: 100px"
                  rows="4" cols="24"
                  wrap="hard"></textarea>
        <div class="validation-message"></div>
    </div>

    <p>Введите сигнал после компрессии, при \( K = {{ K2 }} \):</p>
    <div class="array-input-container">
        <textarea id="input_student_slc" data-array-type="сигнал" data-max-length="500"
                  class="signal-input array-input answer-input"
                  style="height: 100px"
                  rows="4" cols="24"
                  wrap="hard"></textarea>
        <div class="validation-message"></div>
    </div>
    <!--disabled="disabled"-->
    <button id="calculate_graphic_2" class="get-graphic-button">Построить графики</button>
</div>

<div class="dsp_block">
    <h3>Блок построения графиков</h3>
    <div style="display: flex;">
        <div id="graphic_3" class="graphic-container">
        </div>
        <div id="graphic_4" class="graphic-container">
        </div>
    </div>
    <div style="display: flex;">
        <div id="graphic_5" class="graphic-container">
        </div>
        <div id="graphic_6" class="graphic-container">
    </div>
    </div>
</div>

<div class="dsp_block">
    <div class="numeric-input-container">
        <label for="input_student_Np">Ввод паразитного периода:</label>
        <input id="input_student_Np" class="numeric-input answer-input" type=number step=any/>
    </div>
</div>

<div class="dsp_block">
    <!--<h3>Блок формирования сигналов</h3>-->
    <div class="task-wording">
        <p>Восстановить прежнюю частоту дискретизации, рассчитать среднеквадратичное отклонение исходного и преобразованного сигналов и занести значение в соответствующее поле ввода. Восстановление сигнала проводить с помощью КИХ-НЧ-фильтра.</p>


        <textarea id="display_signal_s2" class="array-display" readonly="readonly">{{ s2 }}</textarea>

        <div class="copy-to-clipboard-wrapper">
            <div class="copy-to-clipboard-tooltip">
            <button class="copy_to_clipboard" id="copy_to_clipboard_s2">
              <span class="copy-to-clipboard-tooltiptext">Скопировать сигнал в буфер обмена</span>
              Копировать в буфер
              </button>
            </div>
        </div>

    </div>

    <div class="task-wording">
        <p>Компрессия без предфильтрации в \( K = {{ K_1 }} \) раз:</p>
        <textarea id="display_signal_s41" class="array-display" readonly="readonly">{{ s41 }}</textarea>
        <div class="copy-to-clipboard-wrapper">
            <div class="copy-to-clipboard-tooltip">
            <button class="copy_to_clipboard" id="copy_to_clipboard_s41">
              <span class="copy-to-clipboard-tooltiptext">Скопировать сигнал в буфер обмена</span>
              Копировать в буфер
              </button>
            </div>
        </div>
    </div>
    <div class="task-wording">
        <p>Компрессия без предфильтрации в \( K = {{ K_2 }} \) раз:</p>
        <textarea id="display_signal_s42" class="array-display" readonly="readonly">{{ s42 }}</textarea>
        <div class="copy-to-clipboard-wrapper">
            <div class="copy-to-clipboard-tooltip">
            <button class="copy_to_clipboard" id="copy_to_clipboard_s42">
              <span class="copy-to-clipboard-tooltiptext">Скопировать сигнал в буфер обмена</span>
              Копировать в буфер
              </button>
            </div>
        </div>
    </div>
    <div class="task-wording">
        <p>Компрессия с предфильтрацией в \( K = {{ K_1 }} \) раз:</p>
        <textarea id="display_signal_s43" class="array-display" readonly="readonly">{{ s43 }}</textarea>
        <div class="copy-to-clipboard-wrapper">
            <div class="copy-to-clipboard-tooltip">
            <button class="copy_to_clipboard" id="copy_to_clipboard_s43">
              <span class="copy-to-clipboard-tooltiptext">Скопировать сигнал в буфер обмена</span>
              Копировать в буфер
              </button>
            </div>
        </div>
    </div>
    <div class="task-wording">
        <p>Компрессия с предфильтрацией в \( K = {{ K_2 }} \) раз:</p>
        <textarea id="display_signal_s44" class="array-display" readonly="readonly">{{ s44 }}</textarea>
        <div class="copy-to-clipboard-wrapper">
            <div class="copy-to-clipboard-tooltip">
            <button class="copy_to_clipboard" id="copy_to_clipboard_s44">
              <span class="copy-to-clipboard-tooltiptext">Скопировать сигнал в буфер обмена</span>
              Копировать в буфер
              </button>
            </div>
        </div>
    </div>

    <div class="task-wording">
        <p>С.к.о. восстановленных сигналов и эталонного:</p>
    </div>

    <div class="numeric-input-container">
        <label for="input_student_K1">\( K1: \)</label>
        <input id="input_student_K1" class="numeric-input answer-input" type=number step=any/>
    </div>
    <div class="numeric-input-container">
        <label for="input_student_K2">\( K2: \)</label>
        <input id="input_student_K2" class="numeric-input answer-input" type=number step=any/>
    </div>
    <div class="numeric-input-container">
        <label for="input_student_K3">\( K3: \)</label>
        <input id="input_student_K3" class="numeric-input answer-input" type=number step=any/>
    </div>
    <div class="numeric-input-container">
        <label for="input_student_K4">\( K4: \)</label>
        <input id="input_student_K4" class="numeric-input answer-input" type=number step=any/>
    </div>

</div>


<div class="dsp_footer action">
    <div class="submit-attempt-container">
        <button type="button" class="submit btn-brand" disabled="disabled" id="check_answer"><span class="submit-label">Проверить</span></button>
        <div class="submission-feedback">
            {% if max_attempts %}
            Использовано <span class="attempts">{{ attempts }}</span> из {{ max_attempts }} попыток
            {% endif %}
        </div>
    </div>
    <div class="problem-action-buttons-wrapper">
      <span class="problem-action-button-wrapper" id="save_answer">
          <button type="button" class="save problem-action-btn btn-default btn-small" data-value="Сохранить">
              <span class="icon fa fa-floppy-o" aria-hidden="true"></span>
              <span aria-hidden="true">Сохранить</span>
              <span class="sr">Save your answer</span>
          </button>
      </span>
        {% if show_reset_button %}
          <span class="problem-action-button-wrapper" id="reset_task">
              <button type="button" class="reset problem-action-btn btn-default btn-small" data-value="Сбросить"><span class="icon fa fa-refresh" aria-hidden="true"></span><span aria-hidden="true">Сбросить</span><span class="sr">Reset your answer</span></button>
          </span>
        {% endif %}
    </div>
</div>

<div class="dsp-notification"></div>