/* CSS for DSPXBlock */

.dsp_block .count {
    font-weight: bold;
}

.dsp_block p {
    margin: 6px 0px !important;
}

.dsp_block h3 {
    margin-bottom: 16px;
}

.dsp_block {
    background: #f3f3f2a1;
    padding: 10px;
    margin: 10px;
}

.array-input-container {
    display: flex;
}

.array-input {
    flex: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100px;
    max-height: 300px;
    margin: 4px;
}

.validation-message {
    flex: 50%;

    margin: 4px;
}

.error-text {
    color: #a90000;
}

.dsp_block input[type="number"], textarea.array-input {
    box-sizing: border-box;
    background-image: linear-gradient(#f2f2f2, #fff);
    padding: 6px 8px 8px;
    width: 140px;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    background-color: #f2f2f2;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    color: #4c4c4c;
    outline: 0;
}

.numeric-input-container {
    padding: 6px 0px;
}

.numeric-input-container label {
    display: inline-block;
    vertical-align: middle;
}

.numeric-input-container input {
    display: inline-block;
    vertical-align: middle;
}

.signal-highlight {
    color: #000086;
    background: white;
    padding: 2px;
    font-size: 0.9em;
}

.dsp-incorrect-input{
    border: 2px solid #cb0712 !important;
}

.dsp-correct-input{
    border: 2px solid #009b00 !important;
}

.xblock button.btn-brand:hover {
    background-color: #065683;
    background-image: none;
    box-shadow: none;
}