/* CSS for DSPXBlock */

.dsp_block .count {
    font-weight: bold;
}

.dsp_block p {
    margin: 0px 0px !important;
    font-weight: 300;
}

.dsp_block span {
    font-weight: 300;
}

.dsp_block h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

.dsp_block {
    background: #f3f3f27a;
    border-top: 1px solid #00000030;
    border-bottom: 1px solid #00000030;
    padding: 10px;
    margin: 10px;
}

.dsp_header {
    padding: 10px;
    margin: 10px;
}

.dsp_footer {
    /*padding: 10px;*/
    /*margin: 10px;*/
}

.array-input-container {
    display: flex;
}

.array-input {
    flex: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    /*height: 100px;*/
    /*min-height: 100px;*/
    max-height: 300px;
    margin: 2px 0px;;
    font-size: 0.9em;
}

.validation-message {
    flex: 50%;

    margin: 4px;
}

.error-text {
    color: #a90000;
}

.dsp_block input[type="number"], textarea.array-input {
    box-sizing: border-box;
    background-image: linear-gradient(#f2f2f2, #fff);
    padding: 4px 6px 6px;
    width: 140px;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    background-color: #f2f2f2;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    color: #4c4c4c;
    outline: 0;
}

.radio-input-container {
    padding: 2px;
}

.numeric-input-container {
    padding: 4px 0px;
}

.numeric-input-container label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px !important;
}

.numeric-input-container input {
    display: inline-block;
    vertical-align: middle;
}

.signal-highlight {
    line-height: 1em;
    letter-spacing: -0.1em;
    color: #0c0c23;
    background: white;
    padding: 2px;
    font-size: 1em;
    overflow: auto;
    max-height: 200px;
}

.dsp-incorrect-input {
    border: 2px solid #cb0712cc !important;
}

.dsp-correct-input {
    border: 2px solid #009b00cc !important;
}

.xblock button.btn-brand:hover {
    background-color: #065683;
    background-image: none;
    box-shadow: none;
}

span.signal-filter-wording {
    font-weight: 500 !important;
}

div.task-wording {
    margin-bottom: 12px;
    margin-top: 8px;
}

.graphic-container {
    text-align: center;
    padding: 10px;
    border: 1px solid #00000024;
    flex: 50%;
    padding: 0px;
    margin: 2px;
    position: relative;
    min-height: 100px;
    background: white;
}

.get-graphic-button {
    margin: 15px;
}

.graphic-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.graphic-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.array-display {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 150px;
    width: 100%;
    font-size: 0.8em;
}

.dsp-problem-progress {
    display: inline-block;
    color: #5e5e5e;
    font-size: 0.875em;
}

div.dsp-notification .notification.success {
    border-top: 3px solid #009b00;
}

div.dsp-notification .notification.warning {
    border-top: 3px solid #ffc01f;
}

div.dsp-notification .notification.error {
    border-top: 3px solid #cb0712;
}

div.dsp-notification .notification {
    float: left;
    margin-top: 10px;
    padding: 8px 10px 4px 10px;
    line-height: 1.5em;
}

div.dsp-notification .notification .notification-message {
    display: inline-block;
    margin-bottom: 8px;
    white-space: pre-wrap;
}

div.dsp-notification .notification.success .icon {
    margin-right: 15px;
    color: #009b00;
}

div.dsp-notification .notification.error .icon {
    margin-right: 15px;
    color: #cb0712;
}

div.dsp-notification .notification.warning .icon {
    margin-right: 15px;
    color: #ffc01f;
}

div.dsp-notification .notification .icon {
    float: left;
    position: relative;
    top: 4px;
}

.dsp-notification-traceback {
    font-size: 0.8em;
    line-height: 1em;
    white-space: pre-wrap;
    /*display: none;*/
}

.dsp_footer.action button:hover {
    background-image: none;
    box-shadow: none !important;
}

.dsp_footer.action .problem-action-btn {
    margin-right: 4px;
    max-width: 110px;
}

.dsp_footer button.btn-default {
    background-color: transparent;
}

.dsp_footer .btn-small.btn-default, .dsp_footer .btn-small.btn-brand {
    padding: 0.625rem 0.625rem;
    font-size: 14px;
}

.dsp_footer.action .problem-action-btn .icon {
    margin-bottom: 2px;
    display: block;
}

.dsp_footer.action .problem-action-button-wrapper {
    border-right: 1px solid #ddd;
    display: inline-block;
}

.dsp_footer.action .problem-action-button-wrapper:last-child {
    border: none;
}

.dsp_footer.action .submission-feedback {
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    color: #666;
    font-size: 0.9em;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}

.dsp_footer.action .submit-attempt-container .submit {
    margin-right: 10px;
    float: left;
    white-space: nowrap;
}

.dsp_footer.action .submit-attempt-container {
    padding-bottom: 20px;
    padding-left: 10px;
    flex-grow: 1;
}

.dsp_footer.action {
    margin-top: 20px;
    min-height: 20px;
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}